.DS_Store
Fetch.sublime-settings
Package Control.cache
Package Control.last-run
Package Control.system-ca-bundle
Package Control.merged-ca-bundle
Side Bar.sublime-settings
bh_unicode_properties.cache
Side Bar.sublime-settings
sftp_servers
